*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.exe
*.pdb
*.idb
*.ilk
*.old
*.crf
build
Debug
Objects
Listings
*.uvguix.*
*.o
*.obj
*.bak
*.dep
*.lib
*.a
*.i
*.d
*.dfinish
*.su
#source insight 4 project files
dist

.idea
.vscode
.cache
*.code-workspace
*.eide.*
.history
CMakeLists.txt
cmake-build-debug
*.mk
